# Application
APP_NAME=Tom's Cocktail API
APP_VERSION=0.5.0
APP_ENV=development

# AWS
AWS_REGION=ap-southeast-2

# DynamoDB
TABLE_NAME=Cocktails

# Logging
LOG_LEVEL=INFO

# Keep false for public deployments until authentication and authorisation are implemented
ALLOW_MUTATIONS=false
