# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual Environment
.venv/

# Environment Variables
.env

# VS Code
.vscode/

# macOS
.DS_Store

# Windows
Thumbs.db

# Logs
logs/*
!logs/.gitkeep

# Generated Lambda package output
/dist/
/.lambda-build/
